body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #2764e9;
  color: #333;
  margin: 0;
  padding: 0;
}

.pokedex {
  margin: 64px auto;
  width: 90%;
  max-width: 500px;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #ededed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pokedex:hover {
   background-color: #e9e9e9;
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.226);
}

.barra-pesquisa {
  margin-bottom: 24px;
}

.barra-pesquisa input {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.info-pokemon {
  display: none;
}

.info-pokemon img {
  width: 160px;
  height: 160px;
}

.container-imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.botao-busca {
  background: #62a5f8;
  color: white;
  border: none;
  border-radius: 5%;
  width: 96px;
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 48px;
  transition: .5s;
}

.botao-busca:hover {
  background: #c0dbfd;
  color: #333;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.226);
}

.botao-navegacao {
  background: #62a5f8;
  color: white;
  border: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.botao-navegacao:hover {
  background: #c0dbfd;
  color: #333;
  cursor: pointer;
}

.status {
  margin-top: 24px;
}

.barra-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}

.barra-status span {
  text-align: left;
  margin-right: 12px;
  width: 144px;
}

.barra-status .barra {
  flex: 4;
  height: 24px;
  background-color: #ddd;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.barra-status .barra div {
  height: 100%;
  background-color: #1f41ae;
  width: 0;
  position: relative;
}

.barra-status .barra div span {
  position: absolute;
  top: 2px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.evolucoes {
  margin-top: 24px;
}

#lista-evolucoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.evolucao {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.evolucao img {
  width: 48px;
  height: 48px;
  margin-bottom: 4px;
}

.erro {
  color: red;
  font-size: 16px;
  margin-top: 12px;
}

.carregando {
  display: none;
  margin-top: 24px;
}

.pokebola {
  width: 48px;
  height: 48px;
  border: 4px solid black;
  border-radius: 50%;
  background: linear-gradient(white 50%, red 50%);
  position: relative;
  animation: girar .5s linear infinite;
  margin: auto;
}

.pokebola::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: white;
  border: 4px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}